body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
    font-size: 2em;
}

.subtitulos {
    border-bottom: 3px solid;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px;
}

figcaption {
    margin-top: 10px;
}

#matriz {
    margin: auto;
    width: 550px;
}

#familia {
    width: 275px;
    float: right;
}

img {
    max-width: 100%;
}

p {
    text-indent: 40px;
}